# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# [*.json]
# end_of_line = lf
# insert_final_newline = true
# indent_style = tab
# indent_size = 2
# charset = utf-8


[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
indent_style = tab
indent_size = 4


# ReSharper properties
resharper_allow_comment_after_lbrace = true
resharper_cpp_brace_style = end_of_line
resharper_cpp_empty_block_style = together_same_line
resharper_csharp_indent_style = tab
resharper_csharp_wrap_lines = false
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_inside_namespace = false
resharper_requires_expression_braces = end_of_line
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_check_namespace_highlighting = none
resharper_convert_type_check_pattern_to_null_check_highlighting = hint
resharper_cpp_clang_tidy_boost_use_to_string_highlighting = none
resharper_cpp_clang_tidy_bugprone_argument_comment_highlighting = none
resharper_cpp_clang_tidy_bugprone_assert_side_effect_highlighting = none
resharper_cpp_clang_tidy_bugprone_bad_signal_to_kill_thread_highlighting = none
resharper_cpp_clang_tidy_bugprone_branch_clone_highlighting = none
resharper_cpp_clang_tidy_bugprone_copy_constructor_init_highlighting = none
resharper_cpp_clang_tidy_bugprone_dangling_handle_highlighting = none
resharper_cpp_clang_tidy_bugprone_dynamic_static_initializers_highlighting = none
resharper_cpp_clang_tidy_bugprone_empty_catch_highlighting = none
resharper_cpp_clang_tidy_bugprone_fold_init_type_highlighting = none
resharper_cpp_clang_tidy_bugprone_forwarding_reference_overload_highlighting = none
resharper_cpp_clang_tidy_bugprone_forward_declaration_namespace_highlighting = none
resharper_cpp_clang_tidy_bugprone_implicit_widening_of_multiplication_result_highlighting = none
resharper_cpp_clang_tidy_bugprone_inaccurate_erase_highlighting = none
resharper_cpp_clang_tidy_bugprone_incorrect_roundings_highlighting = none
resharper_cpp_clang_tidy_bugprone_infinite_loop_highlighting = none
resharper_cpp_clang_tidy_bugprone_integer_division_highlighting = none
resharper_cpp_clang_tidy_bugprone_lambda_function_name_highlighting = none
resharper_cpp_clang_tidy_bugprone_macro_parentheses_highlighting = none
resharper_cpp_clang_tidy_bugprone_macro_repeated_side_effects_highlighting = none
resharper_cpp_clang_tidy_bugprone_misplaced_operator_in_strlen_in_alloc_highlighting = none
resharper_cpp_clang_tidy_bugprone_misplaced_pointer_arithmetic_in_alloc_highlighting = none
resharper_cpp_clang_tidy_bugprone_misplaced_widening_cast_highlighting = none
resharper_cpp_clang_tidy_bugprone_move_forwarding_reference_highlighting = none
resharper_cpp_clang_tidy_bugprone_multiple_new_in_one_expression_highlighting = none
resharper_cpp_clang_tidy_bugprone_multiple_statement_macro_highlighting = none
resharper_cpp_clang_tidy_bugprone_narrowing_conversions_highlighting = none
resharper_cpp_clang_tidy_bugprone_non_zero_enum_to_bool_conversion_highlighting = none
resharper_cpp_clang_tidy_bugprone_not_null_terminated_result_highlighting = none
resharper_cpp_clang_tidy_bugprone_no_escape_highlighting = none
resharper_cpp_clang_tidy_bugprone_parent_virtual_call_highlighting = none
resharper_cpp_clang_tidy_bugprone_posix_return_highlighting = none
resharper_cpp_clang_tidy_bugprone_redundant_branch_condition_highlighting = none
resharper_cpp_clang_tidy_bugprone_reserved_identifier_highlighting = none
resharper_cpp_clang_tidy_bugprone_shared_ptr_array_mismatch_highlighting = none
resharper_cpp_clang_tidy_bugprone_signal_handler_highlighting = none
resharper_cpp_clang_tidy_bugprone_signed_char_misuse_highlighting = none
resharper_cpp_clang_tidy_bugprone_sizeof_container_highlighting = none
resharper_cpp_clang_tidy_bugprone_sizeof_expression_highlighting = none
resharper_cpp_clang_tidy_bugprone_spuriously_wake_up_functions_highlighting = none
resharper_cpp_clang_tidy_bugprone_standalone_empty_highlighting = none
resharper_cpp_clang_tidy_bugprone_stringview_nullptr_highlighting = none
resharper_cpp_clang_tidy_bugprone_string_constructor_highlighting = none
resharper_cpp_clang_tidy_bugprone_string_integer_assignment_highlighting = none
resharper_cpp_clang_tidy_bugprone_string_literal_with_embedded_nul_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_enum_usage_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_include_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_memory_comparison_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_memset_usage_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_missing_comma_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_realloc_usage_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_semicolon_highlighting = none
resharper_cpp_clang_tidy_bugprone_suspicious_string_compare_highlighting = none
resharper_cpp_clang_tidy_bugprone_swapped_arguments_highlighting = none
resharper_cpp_clang_tidy_bugprone_terminating_continue_highlighting = none
resharper_cpp_clang_tidy_bugprone_throw_keyword_missing_highlighting = none
resharper_cpp_clang_tidy_bugprone_too_small_loop_variable_highlighting = none
resharper_cpp_clang_tidy_bugprone_unchecked_optional_access_highlighting = none
resharper_cpp_clang_tidy_bugprone_undefined_memory_manipulation_highlighting = none
resharper_cpp_clang_tidy_bugprone_undelegated_constructor_highlighting = none
resharper_cpp_clang_tidy_bugprone_unhandled_self_assignment_highlighting = none
resharper_cpp_clang_tidy_bugprone_unique_ptr_array_mismatch_highlighting = none
resharper_cpp_clang_tidy_bugprone_unsafe_functions_highlighting = none
resharper_cpp_clang_tidy_bugprone_unused_raii_highlighting = none
resharper_cpp_clang_tidy_bugprone_unused_return_value_highlighting = none
resharper_cpp_clang_tidy_bugprone_use_after_move_highlighting = none
resharper_cpp_clang_tidy_bugprone_virtual_near_miss_highlighting = none
resharper_cpp_clang_tidy_cert_dcl58_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_err33_c_highlighting = none
resharper_cpp_clang_tidy_cert_err34_c_highlighting = none
resharper_cpp_clang_tidy_cert_err60_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_flp30_c_highlighting = none
resharper_cpp_clang_tidy_cert_mem57_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_msc51_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_msc54_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_oop57_cpp_highlighting = none
resharper_cpp_clang_tidy_cert_oop58_cpp_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_float_conversion_highlighting = hint
resharper_cpp_clang_tidy_clang_diagnostic_implicit_int_conversion_highlighting = hint
resharper_cpp_clang_tidy_clang_diagnostic_padded_highlighting = suggestion
resharper_cpp_clang_tidy_clang_diagnostic_unused_macros_highlighting = hint
resharper_cpp_clang_tidy_clang_diagnostic_writable_strings_highlighting = hint
resharper_cpp_clang_tidy_concurrency_mt_unsafe_highlighting = none
resharper_cpp_clang_tidy_concurrency_thread_canceltype_asynchronous_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_avoid_capturing_lambda_coroutines_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_avoid_const_or_ref_data_members_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_avoid_goto_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_interfaces_global_init_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_misleading_capture_default_by_value_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_missing_std_forward_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_narrowing_conversions_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_noexcept_destructor_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_noexcept_move_operations_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_noexcept_swap_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_pro_type_static_cast_downcast_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_rvalue_reference_param_not_moved_highlighting = none
resharper_cpp_clang_tidy_cppcoreguidelines_special_member_functions_highlighting = none
resharper_cpp_clang_tidy_google_runtime_operator_highlighting = none
resharper_cpp_clang_tidy_google_upgrade_googletest_case_highlighting = none
resharper_cpp_clang_tidy_hicpp_avoid_goto_highlighting = none
resharper_cpp_clang_tidy_hicpp_exception_baseclass_highlighting = none
resharper_cpp_clang_tidy_hicpp_multiway_paths_covered_highlighting = none
resharper_cpp_clang_tidy_linuxkernel_must_check_errs_highlighting = none
resharper_cpp_clang_tidy_llvm_prefer_register_over_unsigned_highlighting = none
resharper_cpp_clang_tidy_misc_confusable_identifiers_highlighting = none
resharper_cpp_clang_tidy_misc_header_include_cycle_highlighting = none
resharper_cpp_clang_tidy_misc_misleading_bidirectional_highlighting = none
resharper_cpp_clang_tidy_misc_misleading_identifier_highlighting = none
resharper_cpp_clang_tidy_misc_new_delete_overloads_highlighting = hint
resharper_cpp_clang_tidy_misc_non_copyable_objects_highlighting = hint
resharper_cpp_clang_tidy_misc_redundant_expression_highlighting = hint
resharper_cpp_clang_tidy_misc_static_assert_highlighting = hint
resharper_cpp_clang_tidy_misc_throw_by_value_catch_by_reference_highlighting = hint
resharper_cpp_clang_tidy_misc_unconventional_assign_operator_highlighting = hint
resharper_cpp_clang_tidy_misc_uniqueptr_reset_release_highlighting = hint
resharper_cpp_clang_tidy_misc_unused_alias_decls_highlighting = hint
resharper_cpp_clang_tidy_misc_unused_using_decls_highlighting = none
resharper_cpp_clang_tidy_misc_use_anonymous_namespace_highlighting = none
resharper_cpp_clang_tidy_modernize_avoid_bind_highlighting = none
resharper_cpp_clang_tidy_modernize_deprecated_headers_highlighting = none
resharper_cpp_clang_tidy_modernize_deprecated_ios_base_aliases_highlighting = none
resharper_cpp_clang_tidy_modernize_loop_convert_highlighting = none
resharper_cpp_clang_tidy_modernize_macro_to_enum_highlighting = none
resharper_cpp_clang_tidy_modernize_pass_by_value_highlighting = none
resharper_cpp_clang_tidy_modernize_raw_string_literal_highlighting = none
resharper_cpp_clang_tidy_modernize_replace_auto_ptr_highlighting = none
resharper_cpp_clang_tidy_modernize_replace_disallow_copy_and_assign_macro_highlighting = none
resharper_cpp_clang_tidy_modernize_replace_random_shuffle_highlighting = none
resharper_cpp_clang_tidy_modernize_return_braced_init_list_highlighting = none
resharper_cpp_clang_tidy_modernize_shrink_to_fit_highlighting = none
resharper_cpp_clang_tidy_modernize_unary_static_assert_highlighting = none
resharper_cpp_clang_tidy_modernize_use_bool_literals_highlighting = none
resharper_cpp_clang_tidy_modernize_use_emplace_highlighting = none
resharper_cpp_clang_tidy_modernize_use_equals_default_highlighting = none
resharper_cpp_clang_tidy_modernize_use_equals_delete_highlighting = none
resharper_cpp_clang_tidy_modernize_use_nodiscard_highlighting = none
resharper_cpp_clang_tidy_modernize_use_noexcept_highlighting = none
resharper_cpp_clang_tidy_modernize_use_std_print_highlighting = none
resharper_cpp_clang_tidy_modernize_use_transparent_functors_highlighting = none
resharper_cpp_clang_tidy_modernize_use_uncaught_exceptions_highlighting = none
resharper_cpp_clang_tidy_performance_unnecessary_value_param_highlighting = hint
resharper_cpp_c_style_cast_highlighting = hint
resharper_cpp_inconsistent_naming_highlighting = none
resharper_cpp_initialized_value_is_always_rewritten_highlighting = hint
resharper_cpp_join_declaration_and_assignment_highlighting = hint
resharper_cpp_member_function_may_be_const_highlighting = hint
resharper_cpp_parameter_may_be_const_ptr_or_ref_highlighting = hint
resharper_cpp_pass_value_parameter_by_const_reference_highlighting = hint
resharper_cpp_string_literal_to_char_pointer_conversion_highlighting = hint
resharper_cpp_zero_constant_can_be_replaced_with_nullptr_highlighting = hint
resharper_inconsistent_naming_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_redundant_cast_highlighting = suggestion
resharper_redundant_using_directive_highlighting = suggestion
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_unused_member_local_highlighting = hint
resharper_unused_parameter_local_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[{*.markdown,*.md}]
indent_style = tab
tab_width = 4

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,.babelrc,.eslintrc,.prettierrc,.ws-context,jest.config}]
indent_style = tab
tab_width = 2

[{*.toml,Cargo.lock,Cargo.toml.orig,Gopkg.lock,Pipfile,pdm.lock,poetry.lock,uv.lock}]
indent_style = tab
tab_width = 2

[{*.htm,*.html,*.sht,*.shtm,*.shtml}]
indent_style = space
indent_size = 2

[{*.ats,*.cts,*.mts,*.ts}]
indent_style = tab
tab_width = 2

[*.cs]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cshtml,cu,cuh,cxx,cxxm,dtd,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,master,mpp,mq4,mq5,mqh,mxx,nuspec,paml,pssl,pssli,razor,resw,resx,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
